div.banner.sp_top_80.sp_bottom_80
    .container
        .row
            .col-xl-6.col-lg-6.col-md-6.col-12
                .banner__img
                    img(src="image/banner/banner__1.png" alt="")
                    .banner__info
                        h2
                            a(href="shop.html") Thời trang nam
                        .banner__button
                            a.default__button.btn__black(href="shop.html") Mua ngay
            .col-xl-6.col-lg-6.col-md-6.col-12
                .banner__img
                    img(src="image/banner/banner__2.png" alt="")
                    .banner__info
                        h2
                            a(href="shop.html") Thời trang nữ
                        .banner__button
                            a.default__button.btn__black(href="shop.html") Mua ngay